<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.johnlindquist.fromtemplate</string>
	<key>connections</key>
	<dict>
		<key>11F1AA6E-DC68-4906-B341-0DB1F6560B41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB8B17D8-3A60-4D03-9CA9-23E0872BC02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>796F9870-4E8F-40B0-8EC3-E9A28BBF144F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11F1AA6E-DC68-4906-B341-0DB1F6560B41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B45211C9-DDE8-4498-9A1E-52510D49FC82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2645B44-5161-42E3-874C-6C03CC73F0DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2645B44-5161-42E3-874C-6C03CC73F0DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0258BF31-5B13-4627-98A4-044993B0957E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9C5F22C-D8B0-4A32-8BB4-6696331F3A7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B45211C9-DDE8-4498-9A1E-52510D49FC82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB8B17D8-3A60-4D03-9CA9-23E0872BC02C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9C5F22C-D8B0-4A32-8BB4-6696331F3A7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>johnlindquist</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>From Template</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Name your playlist</string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9C5F22C-D8B0-4A32-8BB4-6696331F3A7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"993c49dc225ea3bbb09f1c73ccbcb7ecce273a9d.png","title":"vanilla","arg":"+vanilla"},{"imagefile":"e66483ce2a6b52771315b4a3a970c2d984e58f97.png","title":"svelte","arg":"+svelte"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>11F1AA6E-DC68-4906-B341-0DB1F6560B41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>template</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>template</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>796F9870-4E8F-40B0-8EC3-E9A28BBF144F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B45211C9-DDE8-4498-9A1E-52510D49FC82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB8B17D8-3A60-4D03-9CA9-23E0872BC02C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:command} {var:name}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E2645B44-5161-42E3-874C-6C03CC73F0DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0258BF31-5B13-4627-98A4-044993B0957E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zshrc

$command $name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32F75697-0D3A-443D-99E2-4694D135BBA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0258BF31-5B13-4627-98A4-044993B0957E</key>
		<dict>
			<key>xpos</key>
			<integer>1480</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>11F1AA6E-DC68-4906-B341-0DB1F6560B41</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>32F75697-0D3A-443D-99E2-4694D135BBA0</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>796F9870-4E8F-40B0-8EC3-E9A28BBF144F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>B45211C9-DDE8-4498-9A1E-52510D49FC82</key>
		<dict>
			<key>note</key>
			<string>name variable</string>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>E2645B44-5161-42E3-874C-6C03CC73F0DD</key>
		<dict>
			<key>xpos</key>
			<integer>1235</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>F9C5F22C-D8B0-4A32-8BB4-6696331F3A7B</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>FB8B17D8-3A60-4D03-9CA9-23E0872BC02C</key>
		<dict>
			<key>note</key>
			<string>command variable</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>johnlindquist.com</string>
</dict>
</plist>
